.Toolbar {
    height: 20px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #703b09;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    z-index: 90;
  }
  .DesktopOnly {
    display: none;
  }
  @media (max-width: 499px) {
    
  }
  