.NavigationItem {
    margin-left: 1%;
    box-sizing: border-box;

    
  }
  
  .NavigationItem a {
    color: #8f5c2c;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
    font-size: 25px;
    font-weight: bold;
  }
  
  .NavigationItem a:hover,
  .NavigationItem a:active,
  .NavigationItem a.active {
    color:#8B0000;
  }
 
  