.footerinner{
    background-color:lightgray;
    max-width: 100%;
    height: 20%;
    box-sizing: border-box;
    padding-left: 1%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-right: 1%;
    display: flex;
    justify-content: space-between;
    
}
.mya{
    text-decoration: none;
     color: gray;

}

.myul{
    list-style: none;
}


@media (max-width: 1024px) {
  .footerinner{
      flex-direction: column;
  }

}